:root {
  --primary-color: #ffffff;
  --secondary-color: #f6f6f6;
  --tertiary-color: #036afb;
  --quaternary-color: #000000;
  --text-secondary-color: #737373;
  --text-date-color: #9d9d9d;
  --icon-delete-color: red;
  --border: #ebebeb;
  --p-low: #94a3b8;
  --p-med: #f59e0b;
  --p-high: #ef4444;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--secondary-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.side-menu {
  background-color: var(--primary-color);
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  margin: 15px 10px;
}

.logo {
  font-size: 30px;
  padding: 20px 0 0 10px;
  margin-bottom: 18px;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

nav {
  max-width: 88%; /* remove if button should have justify between */
}

.nav-list {
  margin-bottom: 20px;
}

.nav-item {
  width: 100%; /* remove if button should have justify between */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px 12px 18px;
  margin: 0 17px;
  border-radius: 8px;
  cursor: pointer;
}

.nav-item.active {
  background-color: var(--secondary-color);
}

.list {
  display: flex;
  gap: 6px;
}

.list-icon {
  border-radius: 100%;
  background-color: #036afb;
  width: 10px;
  height: 10px;
  margin: 4px 0;
  box-shadow: 0.5px 0.5px 1px black;
}

.list-count {
  text-align: center;
  color: var(--text-secondary-color);
  border-radius: 20px;
  background-color: var(--primary-color);
  width: 25px;
  height: auto;
}

button {
  cursor: pointer;
}

.btn-create-list {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--quaternary-color);
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 12px 10px 12px 18px;
  margin: 0 17px;
  width: 100%; /* remove if button should have justify between */
  border: none;
  text-align: left;

  span {
    font-size: 20px;
    font-weight: 800;
  }
}

/* main content - styles */
#main-content {
  width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  margin: 50px 80px 20px 80px;
  position: relative;
}

/* intro content -styles */
.intro-container {
  display: flex;
  justify-content: space-between;
}

.intro-content {
}

.intro-welcome {
}

.intro-date {
  margin-top: 3px;
  color: var(--text-date-color);
  font-weight: 400;
}

.btn-select-date {
  border-radius: 8px;
  border: none;
  padding: 20px 30px;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
}

/* task list - styles */
.task-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 20px 30px;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  border: 1px solid #ebebeb;

  transition:
    border-color 0.12s,
    box-shadow 0.12s;
}

.task-item:hover {
  border-color: #d6d6d6;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.04);
}

.task-item-right {
  display: flex;
  gap: 10px;
}
.task-item-left {
  display: flex;
  align-items: center;
}

.task-item-priority {
  display: flex;
  align-items: center;
  padding: 9px 10px 9px 18px;
}

.task-item-left:has(input:checked) {
  label {
    text-decoration: line-through;
  }
}

.task-item-date {
  display: flex;
  align-items: center;
  color: var(--text-date-color);
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 9px 12px 9px 12px;
}

.task-item-menu-container {
  display: flex;
  align-items: center;
  gap: 10px;
  visibility: hidden;
}

.task-item:hover .task-item-menu-container {
  visibility: visible;
}

.task-item-menu {
  font-size: 18px;
  border: none;
  color: rgb(176, 176, 176);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px 6px 8px 6px;
}

.btn-task-delete:hover {
  color: var(--icon-delete-color);
  background-color: rgba(255, 0, 0, 0.04);
}

.btn-task-edit:hover {
  background-color: #f6f6f6;
}

input[type="checkbox"] {
  appearance: none;
}

input {
  border-radius: 8px;
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

input[type="checkbox"]:not(:checked) {
  border: 1px solid var(--text-date-color);
}

input[type="checkbox"]:checked::after {
  inset: 0;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  content: "✔";
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}

label {
  margin-left: 8px;
}

.task-item-left > .list-icon {
  width: 10px;
  height: 10px;
}

.btn-create-task {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border-radius: 8px;
  padding: 12px 10px 12px 18px;
  width: 100%; /* remove if button should have justify between */
  border: none;
  text-align: left;
  margin-top: 40px;
  width: 300px;

  span {
    font-size: 20px;
    font-weight: 800;
  }
}

/* Dialog - Styles */
#dialog-create-task,
#dialog-create-list,
#dialog-edit-task {
  position: absolute;
  top: 15%;
  left: 22%;
  border-radius: 8px;
  width: 380px;
  border: none;
}

.form-task,
.form-list,
.form-edit-task {
  padding: 30px 25px 30px 25px;
  flex-direction: column;
  display: flex;
  gap: 16px;

  label {
    color: var(--text-date-color);
    margin-bottom: 6px;
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 18px 10px;
    border: 1px solid var(--text-date-color);
  }

  select {
    padding: 10px 10px;
    border-radius: 8px;
    border: 1px solid var(--text-date-color);
    max-height: 38px;
  }
}

.field {
  display: flex;
  flex-direction: column;
}

.form-task-controls,
.form-list-controls,
.form-edit-task-controls {
  display: flex;
  justify-content: end;
  gap: 8px;
  margin-top: 10px;
}
.form-task-close,
.form-list-close,
.form-edit-task-close {
  border: none;
  color: var(--quaternary-color);
  background-color: transparent;
  border: 1px solid var(--text-date-color);
  padding: 8px 24px;
  border-radius: 8px;
  height: 34px;
}

.form-task-save,
.form-list-save,
.form-edit-task-save {
  border: none;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  padding: 8px 24px;
  border-radius: 8px;
  height: 34px;
}

#iconColor {
  background-color: transparent;
  padding: 5px 10px;
  height: 38px;
  border-radius: 8px;
}

.priority-options {
  display: flex;
  gap: 8px;
}

/* btn-priority */
.priority-option {
  border: none;
  color: var(--quaternary-color);
  background-color: transparent;
  border: 1px solid var(--text-date-color);
  padding: 8px 24px;
  border-radius: 8px;
  width: 105px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
}

.priority-option:has(input:checked).priority-option-low {
  color: var(--p-low);
  border-color: var(--p-low);
  background: #f1f5f9;
}

.priority-option:has(input:checked).priority-option-medium {
  color: var(--p-med);
  border-color: var(--p-med);
  background: #fffbeb;
}

.priority-option:has(input:checked).priority-option-high {
  color: var(--p-high);
  border-color: var(--p-high);
  background: #fef2f2;
}

.priority-option:hover {
  border-color: #8f8e8e;
  color: #5a5a5a;
}

.priority-option input {
  display: none;
}

/* Hide radio */
.priority-icon {
  width: 20px;
  height: auto;
}

.priority-label {
  margin-bottom: 10px;
  color: var(--text-date-color);
  font-size: 16px;
}
label.priority-tag {
  color: var(--text-date-color);
  font-size: 14px;
}
